
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    border: 1px solid white;
} */

body {
    overflow-x: hidden;
}

.orange-text {
  color: #f12711; 
}

.green-text {
  color: #11998e; 
}

.blue-text {
  color: #56ccf2; 
}

.pink-text {
  color: #ec008c; 
}

@font-face {
    font-family: Outfit;
    src: url(../src/assets/fonts/Outfit.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(../src/assets/fonts/Quicksand.ttf);
}

@keyframes glow1 {
    0%, 100% {
      transform: scale(0.9);
      backdrop-filter: blur(20px);
    }
    25% {
      transform: scale(0.95);
      backdrop-filter: blur(25px);
    }
    50% {
      transform: scale(1.05);
      backdrop-filter: blur(30px);
    }
  }
  
  @keyframes glow2 {
    0%, 100% {
      transform: scale(0.85);
      backdrop-filter: blur(15px);
    }
    25% {
      transform: scale(0.9);
      backdrop-filter: blur(20px);
    }
    50% {
      transform: scale(0.95);
      backdrop-filter: blur(25px);
    }
  }
  
  .glow-animation1 {
    animation: glow1 3000ms ease-in-out infinite alternate;
    transition: backdrop-filter 0.5s ease, transform 0.5s ease;
  }
  
  .glow-animation2 {
    animation: glow2 2500ms ease-in-out infinite alternate;
    transition: backdrop-filter 0.5s ease, transform 0.5s ease; 
  }